@import "tailwindcss";

@theme {
  --color-primary: #0000FF;
  --color-primary-foreground: #ffffff;
  --color-accent: #E3021B;
  --color-accent-foreground: #ffffff;
  --color-secondary: #000000;
  --color-secondary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #0a0a0a;
}
